.section__what-u-get{
    padding: 100px 10px 58px 10px;
}

.what-u-get__title{
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    align-items: center;
    text-align: center;

    color: #8D81AC;

    padding-bottom: 36px;

    @include tablet{
        font-size: 42px;
        line-height: 44px;
    }
}


.what-u-get__flex-block-1{
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-bottom: 37px;
}

.card__flex-block-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 27px;
}

.card__flex-block-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include tablet{
        align-items: flex-start;
       margin-left: 30px;
    }
}

.card__title{
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    align-items: center;

    color: #323232;

    padding-bottom: 14px;
}

.card__text{
    font-family: $additional-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #848E97;

    @include tablet{
        text-align: start;
    }
}

.card-img{
    @include tablet{
            width: 111px;
            height: 64px;
            object-fit:contain;
    }
}

.section__photo-of-code{
    position: relative;
}

.photo-code{
    min-width: 100%;
    max-width: 100%;
    
    float: right;
}

.photo-code-2{
    width: 1347px;
}

.title--hidden{
    display: none;
}

.what-u-get__group-flex{
    display: flex;
    flex-direction: column;
}

@media (min-width:$screen-tablet_min){
    .card{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width:$screen-laptop_min){
    .what-u-get__group-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .photo-code-2{
        display: block;
        min-width: 100%;
        max-width: 100%;
    }
    .title--hidden{
        display: block;
    }
    .not{
        display: none;
    }

    .section__what-u-get{
        width: 100%;
        background: #F4F4F4;
    }
}